<div *ngIf="profile">
    <div class="card">
        <div class="card-header">
            {{profile.name}}<small>({{profile.login}})</small>
            <span *ngIf="profile.company">Works at {{profile.company}}</span>{{profile.location}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avatar_url}}" class=" img-circle img-fluid" alt="profile image">
                </div>

            </div>

        </div>
    </div>
</div>